.venv
test.ipynb
_requirements.txt
data/temp/train.csv
data/temp/test.csv
data/raw/all-data.csv
data/raw/stock_data.csv
data/raw/tweets_labelled_09042020_16072020
test2.ipynb
test.ipynb
.idea
Dockerfile
.dockerignore
.venv
__pycache__/run.cpython-310.pyc
# __pycache__/version.cpython-310.pyc
src/__pycache__/etl.cpython-310.pyc 
