# certifi==2022.12.7
# charset-normalizer==3.0.1
# colorama==0.4.6
# filelock==3.9.0
# huggingface-hub==0.12.0
# typing_extensions
# tokenizers



torch
transformers
datasets
evaluate
python-box[all]~=6.0
kaggle
gdown
idna
joblib
numpy
packaging
pandas
python-dateutil
pytz
PyYAML
regex
requests
scikit-learn
scipy
six
threadpoolctl
tqdm
transformers
urllib3
python-twitter